html {
  position: relative;
  min-height: 100%;
}

body {
  height: 100%;
}

#wrap{
  margin-top:20px;
}

img#navbar-logo{
  width:100px;
}

footer{
  background:#212529;
  color:#fff;
  width: 100%;
  padding: 20px;
  bottom:0;
  position:fixed;
}

img.small-img{
  width:50px;
  height:50px;
}

.inline_form{
  display:inline;
}

.strong-text{
  font-weight: 900;
}