html {
  position: relative;
  min-height: 100%;
}

body {
  height: 100%;
}

img#navbar-logo{
  width:100px;
}

footer{
  background:#212529;
  color:#fff;
  position:fixed;
  bottom:0;
  width: 100%;
  padding: 20px;
}